* {
    margin: 0;
    padding: 0;
}


/****** gis中常用的地图全屏 start ******************************************************/

html,
body,
#map,
#cesiumContainer {
    width: 100%;
    height: 100%;
    /* 从边框开始计算 */
    box-sizing: border-box;
}


/****** gis中常用的地图全屏 end ******************************************************/


/****** 去除元素的特殊样式 start ******************************************************/

a {
    text-decoration: none;
    color: #333;
    outline: none;
}

i {
    font-style: normal;
}

ul {
    list-style: none;
}

.fl {
    /* 左浮动 */
    float: left;
}

.fr {
    /* 右浮动 */
    float: right;
}

.clearfix:after {
    /* 清除浮动 */
    content: ".";
    display: block;
    visibility: hidden;
    height: 0;
    line-height: 0;
    clear: both;
}

.overflow {
    overflow: auto;
}


/****** 去除元素的特殊样式 end ******************************************************/


/****** 禁止选择内容 start ******************************************************/

html {
    /*火狐*/
    -moz-user-select: none;
    /*webkit浏览器*/
    -webkit-user-select: none;
    /*IE10*/
    -ms-user-select: none;
    /*早期浏览器*/
    -khtml-user-select: none;
    user-select: none;
}


/****** 禁止选择内容 end ******************************************************/


/****** 修改默认滚动条样式 start ******************************************************/

::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 10px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: #535353;
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: #EDEDED;
}


/****** 修改默认滚动条样式 end ******************************************************/